@model ComicBook.Models.Series
@{
    ViewBag.Title = "Series Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowBackBar = true;
}

@section BackButton{
    <div class="backbar">
        <div class="container">
            @Html.ActionLink("Return", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
}

<h2>@ViewBag.Title</h2>
<div class="well">
    <h5>Description</h5>
    <div>
        @Html.Raw(Model.DescriptionHtml);
    </div>
</div>

<h4>Comic Books Available in This Series</h4>

@Html.Partial("_ComicBooksList", Model.Issues)

